body{
    background-color: #212F3D;
    color: #D87440;
}
5.btn-fixed{
    position: fixed;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 22px;
    text-decoration: none;
    font-size: 19px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav h3{
    padding-left: 80px;
    color: white;
}

.sidenav hr{
    width: 220px;
}

/* When you mouse over the navigation links, change their color */
.sidenav .outlines a:hover, .offcanvas a:focus{
    color: #f1f1f1;
    margin-left: 20px;
    border-left: solid 2px #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 10%;
    right: 1px;
    font-size: 20px;
    margin-left: 50px;
}

.sidenav .closebtn:hover{
    color: #f1f1f1;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    top: 250px;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

pre{
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.navbar-header{
    
}

.notes{
    border-radius: 10px;
    background-color: #CF9C51;
    padding: 10px;
    margin-bottom: 10px;
    color: #273746;
}

.notes h2{
    color: #273746;
}

.notes table{
    margin-left: 2%;
    width: 50%;
    margin: 10px;
    border-radius: 10px;
    background-color: inherit;  
}

.notes b{
    color: #273746;
}

.notes td{
    width: auto;
    padding: 15px;
}

.notes pre{
    background-color: inherit;
    color: #273746;
    font-size: 1em;
    border: 0px;
}

pre{
    font-size: 1em;
    border: 0px;
}

.well{
    background-color: #34495E;
    border: 0px;
    border-radius: 10px;
    width: 87%;
    margin: auto;
}

.homeColor{
    background-color: #5D6D7E !important;
}

.container{}






















